// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
pre.output {
  display: block;
  font-family: Monospaced, monospace;
  font-size: 10px;
}
