<title>ASCII Art Generator</title>
<meta charset="utf-8">
<meta name="title" content="ASCII Art Generator">
<meta name="description" content="This tool is developed to create ASCII Art in a very simple and fast way. You can easily generate ASCII art from text and choosing a font.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="ASCII,ASCII Art,Figlet,Generator,Hack,Linux,Console,Art,Shell,ascii,art,developer,character,text">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">
<meta name="author" content="Ali Hosseini">
<!-- favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="favicon.ico">
